@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap');



@font-face {
    font-family: Quarant;
    src: url('Quarant.otf') format('opentype');
}

@font-face {
    font-family: Thunder;
    src: url('Thunder-MediumHC.ttf');
}


html{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    background-color: rgb(252, 242, 230);
    
}

#home{
    overflow-y: hidden;
}



.titreindex{
    margin-left: 5%;
    margin-bottom: 3%;
    color:#222;
    animation: out 1s;
    animation-fill-mode: forwards;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

body h1{
    font-size: clamp(20px, 10vw, 100px);
}

.title{
    padding: 0.1vh 0 0.2vh 0;

}

h2{
    text-align:center;
    position: relative;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
    font-size:1.3vw;
    z-index: 10;
}



a{
    text-decoration: none;
    color: inherit;
}

.titletext span{
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(20px, 7vw, 8vw);
    color: transparent;
    -webkit-text-stroke: 0.2vw #222;
    margin-left: 5%;
}



.title span{
    animation: out 0.7s;
    animation-fill-mode: forwards;
}
span:hover{
    transition: 0.2s color;
    color: #222;
    animation: in 1s;
    animation-fill-mode: forwards;
}

.logo{
    position: fixed;
    overflow: hidden;
    width:120vw;
    left: -5vw;
}

#crea .logo{
    top:5vh;
    z-index: 0;
}

.titrepage{
    position: relative;
    text-align: center;
    margin-left: 0;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 0.25vw #222;
    font-size: 10vw;
    transition: 0.5s;
    z-index: 1;
    margin: auto;
}

.titrepage:hover{
    transition: 0.2s color;
    color: #222;
    font-size: 10.5vw;
    transition: 0.2s color;
    transition: 1s font-size;
}

.griditem{
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    width: 20vmax;
    height: 20vmax;
    overflow: hidden;
}

.griditem img{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    animation: retrecir 1s;
    animation-fill-mode: forwards;
    transition: 0.5s;
}

.griditem p{
    text-align: center;
    font-size: 1.2vmax;
    position: relative;
    margin-top: 0%;
    color: white;
}

.container{
    margin: 0 auto;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(20vmax, 1fr));
    column-gap: 1vw;
    row-gap: 2vw;
    margin-top:30px;
    
}  

.griditem:hover img{
    animation: agrandir 1s;
    animation-fill-mode: forwards;
    filter: brightness(0.13);
    transition: 0.5s;
}

.griditem:hover p{
    display:block;
}

.griditem p{
    position: absolute;
    display: none;
    z-index: 15;
    top: 0px;
    text-align: left;
    margin: 40px;
}

.reseaux{
    
    position: relative;
    z-index:10;
    display: flex;
    margin-top: 10vmin;
}


.glass img{
    transition: 0.7s;
}

.glass img:hover{
    transform: scale(110%);
    transition: 0.5s;
    filter: brightness(0.1);
}

#instagram{
    width:20vw;
    margin-right: 16vw;
    margin-left:18vw;
}

#gmail{
    width:35vw;
}

.graphisme{
    display: flex;
    margin-top: 5vh;
    
}

.codage{
    display: flex;
    margin-top: 5vh;
    
}

.moi{
    display: flex;
    margin-top: 5vh;
    
}

.graphisme h1{
    font-size: 3vw;
    position: absolute;
    
}
.contenu p{
    display: inline-block;
    width: 42vw;
    height: 24vw;
    /* margin: 2vw; */
    margin-left: 4vw;
    /* margin-right: 5vw; */
    text-align: center;
    font-size: 1.5vw;
}

.contenu img{
    margin-left: 8vw;
    width: 35vw;
    border-radius: 30px;
}

#apropos .logo{
    top:5vh;
    z-index: 0;
}

.contenu{
    position: relative;
}


footer{
    z-index: 10;
    position: relative;
}

.navbar{
    text-align: center;
    list-style: none;
}

.navbar li{
    display: inline-block;
}

.navbar :nth-child(3)::after{
    content:'';
}

.navbar li::after{
    content:'-';
    font-size: 2vw;
    color: #222;
}

.navbar li a{
    font-size: 2vw;
    margin: 0 4vw 0 4vw;
    color: transparent;
    -webkit-text-stroke: 0.07vw #222;
    transition: 0.5s;

}

.navbar li a:hover{
    transition: 0.2s color;
    color: #222;
    font-size: 2.2vw;
    transition: 0.2s color;
    transition: 1s font-size;
}

.contactfooter{
    margin-top: 5%;
}


@media screen and (max-width:500px){
    .contenu p{
        font-size: 3vw;
        overflow-y: scroll;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255,255,255,0.18);
        
    }

    .graphisme img{
        width:40vw;
    }
}

@media screen and (max-width:700px) {
    html{
        overflow-x: hidden;
    }
    .title span{
        display: flex;
        
        -webkit-text-stroke: 0.3vw #222;
        font-size: 16vw;
    }

    .titreindex{
        font-size: 18vw;
    }

    .logo{
        top:8vh;
        width:170vw;
    }

    .reseaux{
        display:block;
        
        
    }

    #gmail{
        top: 62vh;
        position: absolute; 
        left: 49vw; 
        transform: translate(-50%, -50%); 
        width: 43vmax;
    }

    #instagram{
        top: 20vh;
        position: absolute; 
        left: 31vw; 
        transform: translate(-50%, -50%);
        width: 28vmax;
    }
}

@keyframes in{
    from{
        transform:translateX(0%);
    }

    to{
        transform: translateX(10%)
    }
}

@keyframes out{
    from{
        transform:translateX(10%);
    }

    to{
        transform: translateX(0%)
    }
}

@keyframes agrandir{
    from{
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }

    to{
        width:100%;
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes retrecir{
    from{
        width:100%;
        margin-left: 0%;
        margin-top: 0%;
    }

    to{
        margin-left: 5%;
        margin-top: 5%;
        width:90%;
    }
}

